@media (min-width: 64em) {
    #header .menu{
        display: none;
    }
}
/* tablet */
@media (min-width:46.25em) and (max-width:63.9375em){
    #header .menu{
        display: none;
    }
}
/* mobile */
@media (max-width:46.1875em) {
    #nav > li {
        display: block;
    }
    #nav{
        width: 100%;
    }
    #nav .subnav{
        display: block;
        position: initial;
        min-width: none;
    }
    #nav .subnav{
        background-color: #333;
    }
    #nav .subnav:hover{
        background-color: #ccc;
    }
    #header .search-btn{
        display: none;
    }
    #header{
        overflow: hidden;
    }
    #nav .subnav a{
        color: #fff;
        padding:0px 28px;;
    }
    #content .rpImg{
        margin-top: 30px;
        width: 100%;
    }
    #content .rpImg img{
        width: 60%;
    }
    .s-full-width,
    .s-col-full{
        width: 100%;
    }
    .s-mt-8{
        margin-top: 8px;
    }
    .contact-form{
        margin-top: 16px;
    }
}
